Address ARTART Review Comments

The ARTART review can be found here:
https://mailarchive.ietf.org/arch/msg/tls/JVIKECaKhYEPHVcSLYbaNFhhogc/

Copied for convenience:

Issues:

- [x] The draft updates RFC 9325 that is part of BCP 195. I wonder whether this
draft should also be BCP (and part of BCP 195).

As I noted in my response, I think we should leave to the IESG to battle out.

- [x] It would be nice if there is a summary of changes compared to RFC 9325
(which is now the primary source of recommendations for use TLS) somewhere in
the draft. The draft contains some words regarding that, but they are sparsed
across the document.

I think this one addresses this comment nicely:
https://github.com/tlswg/draft-deprecate-obsolete-kex/pull/19

- [x] The draft never mentions DTLS, however it updates RFC 6347. I think DTLS
should be explicitly mentioned as being in scope of this document.

- [x] Perhaps some text should be added about potential interoperability problems
(or, as we hope, the lack of such) caused by deprecation of the mentioned key
exchnage methods. If this could be backed up by some figures from real word, it
would be great.

Nits:


- [x] Throughot document: s/Diffie Hellman/Diffie-Hellman

- [x] Does it make sense to update "Historic" RFC 4346, which is obsoleted long
ago and thus must not be used anyway?

It doesn't harm to slam the door shut ;)

- [x] Section 2, last para:

   These values only apply to TLS versions of 1.2 and
   below.

The text in the preceeding paras contains clarification that TLS 1.0 and TLS
1.1 have been already deprecated ("Note that TLS 1.0 and 1.1 are deprecated by
[RFC8996]") and thus are implicitly out of scope. I wonder whether this note
should also be added here.
